*

header,
nav,
div,
span {
  border: 1px solid lightgray;
  /* background-color: lavender; */
}

body {
  margin: 0px;
}

/* Header Content Container */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

. logo span {
  color: mediumAquamarine;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main Content Containers */

.content {
  display: flex;
  padding-top: 100px;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}

/* Story Grid Containers */
.story-grid {
  display: flex;
  justify-content: space-between;
}

.story-column {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* Single-Story Column Containers */


/* Main Content Image Banner Styles */
.image-banner {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: mediumAquamarine;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  align-content: center;
}

/* Image Banner Content */
.image-banner.tuna {
  font-size: 40px;
  background-image: url(./images/img-story-main.png);
}

.image-banner.earth {
  background-image: url(./images/img-story-2-earth.png);
}

.image-banner.memory {
  background-image: url(./images/img-story-3-memory.png);
}

.image-banner.cat {
  background-image: url(./images/img-story-1-cats.png);
}

/* Main Content Article Text Styles */
