*

header,
nav,
div,
span {
  border: 1px solid lightgray;
  background-color: lavender;
}

/* Header Content Container */

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

. logo span {
  color: mediumAquamarine;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Main Content Containers */

.content {
  display: flex;
  padding-top: 100px;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  display: flex;
  width: 300px;
}

.column.small {
  display: flex;
  width: 240px;
}

.grid {
  flex-direction: column;
}

/* Main Content Image Banner Styles */
.image-banner {
  background-color: mediumAquamarine;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}


/* Image Banner Content */
.image-banner.tuna {
  font-size: 40px;
  background-image: url();
}

.image-banner.earth {
  background-image: url();
}

.image-banner.memory {
  background-image: url();
}

/* Main Content Article Text Styles */
